.btnLogout {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #512da8;
}

.btnLogout:hover {
    background-color: #1a1f2e;
}